extends common/layout

block layout-content
  .main-content
    h1.page-title Adil's Portfolio

    // Container for Skills and Projects Sections
    .skills-projects-container
      // Skills Section
      .skills-section
        h2 Skills
        if skills
          each skill in skills
            div
              h3 #{skill.name}
              p Proficiency: #{skill.proficiency}
        
        // Manage Skills Button on the Skills side
        a(href="/admin/skills")
          button.manage-btn(type="button") Manage Skills  

      // Projects Section
      .projects-section
        h2 Projects
        if projects
          each project in projects
            div
              h3 #{project.name}
              p Description: #{project.description}
              p URL: 
                a(href="#{project.url}" target="_blank") #{project.url}

        // Manage Projects Button on the Projects side
        a(href="/admin/projects")
          button.manage-btn(type="button") Manage Projects  

