extends common/layout

block layout-content
  .main-content
    h1.page-title Adil's Portfolio

    .skills-projects-container
      .skills-section
        h2 Skills
        if skills
          each skill in skills
            div
              h3 #{skill.name}
              p Proficiency: #{skill.proficiency}

        // Only show Manage Skills button if logged in
        if session && session.loggedIn
          a(href="/admin/skills")
            button.manage-btn(type="button") Manage Skills

      .projects-section
        h2 Projects
        if projects
          each project in projects
            div
              h3 #{project.name}
              p Description: #{project.description}
              p URL: 
                a(href="#{project.url}" target="_blank") #{project.url}

        // Only show Manage Projects button if logged in
        if session && session.loggedIn
          a(href="/admin/projects")
            button.manage-btn(type="button") Manage Projects
